dl {
    list-style-type:decimal;
    margin: 10px 0;
    background-color: #f9f9f9;
    border: 15px    
}
li {
    border: 2px solid rgb(238, 105, 105);
    background-color: rgb(240, 165, 165);
    padding: 15px;
    margin: bottom 1px;
}
ol {
    border: 5px solid rgb(235, 175, 175);

}