body {
    background-color: rgb(158, 158, 158);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: rgb(255, 148, 148);
    width: 300px;
    margin: 50px auto;
}

.custom-list li {
    background-color: rgb(255, 203, 203);
    margin: 10px 0;
    border-radius: 5px;
}