.menu {
    background-color: #4c87af;
    padding: 20px;
}

header {
    background-color: #4c87af;
    color: white;
    text-align: center;
    padding: 1em 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 0 15px;
    color: #ebebeb;
    font-size: 30px;
}