.menu {
    background-color: #4c87af;
    padding: 20px;
}

header {
    background-color: #4c87af;
    color: white;
    text-align: center;
    padding: 1em 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 0 15px;
    color: #ebebeb;
    font-size: 30px;
}
.container {
    width: 800px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
    
.door-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.door {
    width: 50%;
    height: 100%;
    background-color: #4134f7;
    position: relative;
    transition: transform 2s ease, width 2s ease; 
}
    
.door.left {
    transform-origin: left center;
}
    
.door.right {
    transform-origin: right center;
}    
.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cf0505;
    font-size: 3rem;
    font-weight: bold;
    opacity: 0;
    transition: opacity 2s ease;
}
    
.door-container:hover .door.left {
    transform: rotateY(-90deg) scale(0.8, 1);
}
    
.door-container:hover .door.right {
    transform: rotateY(90deg) scale(0.8, 1); 
}
    
.door-container:hover .content {
    opacity: 1; 
}